<p id="notice"><%= notice %></p>

<h1>Fruits</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fruits.each do |fruit| %>
    <%# binding.pry %>
    <tr>
      <td><%= fruit.id %></td>
      <td><%= fruit.content %></td>
      <td><%= link_to 'Show', fruit %></td>
      <td><%= link_to 'Edit', edit_fruit_path(fruit) %></td>
      <td><%= link_to 'Destroy', fruit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fruit', new_fruit_path %>


<p>
  <%= radio_button_tag :fruit, '1' %>
  <%= label_tag 'ドラゴンフルーツ' %>
</p>

<p>
  <%= radio_button_tag :fruit, '2' %>
  <%= label_tag 'グァバ' %>
</p>

<p>
  <%= radio_button_tag :fruit, '3' %>
  <%= label_tag 'スターフルーツ' %>
</p>

<p id="content"></p>

<script>
  $(function() {
    // ラジオボタンを選択変更したら実行
    $('input[name="fruit"]').change(function() {

      // value値取得
      var val = $(this).val();
      console.log(val)
      // ajax
      $.ajax({
          type: 'GET',
          url: '/fruits/content',
          data: {
            fruit: {
              id: val
            }
          },
          dataType: 'json' //json形式指定
        })
        .done(function(data) {
          console.log("data: " + data)
          $('#content').text(data)
        });
    });
  });
</script>